body {
  display: grid;
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-rows: 350px 250px 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "sideNav top_board"
    "sideNav bottom_players"
    ". .";
}

.sideNav { grid-area: sideNav; 
  background-color: #060CE9;
  color: white;
}

.top_board { grid-area: top_board; 
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 3px;
}

.clue1 { grid-area: 1 / 1 / 2 / 2; }
.clue2 { grid-area: 1 / 2 / 2 / 3; }
.clue3 { grid-area: 1 / 3 / 2 / 4; }
.clue4 { grid-area: 1 / 4 / 2 / 5; }
.answer1_clue1 { grid-area: 2 / 1 / 3 / 2; }
.answer2_clue1 { grid-area: 3 / 1 / 4 / 2; }
.answer3_clue1 { grid-area: 4 / 1 / 5 / 2; }
.answer4_clue1 { grid-area: 5 / 1 / 6 / 2; }
.answer1_clue2 { grid-area: 2 / 2 / 3 / 3; }
.answer2_clue2 { grid-area: 3 / 2 / 4 / 3; }
.answer3_clue2 { grid-area: 4 / 2 / 5 / 3; }
.answer4_clue2 { grid-area: 5 / 2 / 6 / 3; }
.answer1_clue3 { grid-area: 2 / 3 / 3 / 4; }
.answer2_clue3 { grid-area: 3 / 3 / 4 / 4; }
.answer3_clue3 { grid-area: 4 / 3 / 5 / 4; }
.answer4_clue3 { grid-area: 5 / 3 / 6 / 4; }
.answer1_clue4 { grid-area: 2 / 4 / 3 / 5; }
.answer2_clue4 { grid-area: 3 / 4 / 4 / 5; }
.answer3_clue4 { grid-area: 4 / 4 / 5 / 5; }
.answer4_clue4 { grid-area: 5 / 4 / 6 / 5; }

div[class^="clue"] {
  background-color: #060CE9;
  color: white;
}

div[class^="answer"] {
  background-color: #060CE9;
  color: #FFD700;
}

.bottom_players { grid-area: bottom_players; 
  background-color: gray;
  display: grid;
  /* grid-template-columns: 150px 150px 150px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-column-gap: 50px;
  /* justify-items: center; */
}

.player1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 0px;
  grid-area: 1 / 1 / 2 / 2;
}
.p1_box1 { grid-area: 1 / 1 / 2 / 2; 
  background-color: #060CE9;
}

.p1_box2 { grid-area: 2 / 1 / 3 / 2; 
  background-color: cornflowerblue;
}
.player2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 0px;
  grid-area: 1 / 2 / 2 / 3;
}
.p2_box1 { grid-area: 1 / 1 / 2 / 2; 
  background-color: #060CE9;
}
.p2_box2 { grid-area: 2 / 1 / 3 / 2; 
  background-color: cornflowerblue;
}
.player3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 0px;
  grid-area: 1 / 3 / 2 / 4;
}
.p3_box1 { grid-area: 1 / 1 / 2 / 2; 
  background-color: #060CE9;
}
.p3_box2 { grid-area: 2 / 1 / 3 / 2; 
  background-color: cornflowerblue;
}

