body {
  display: grid;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "sideNav board"
    "sideNav players"
    ". .";
}

.sideNav { grid-area: sideNav; 
  background-color: blue;
}

.board { grid-area: board; 
  background-color: aquamarine;
  
}

.players { grid-area: players; 
  background-color: brown
}
